<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <!-- 导出方式：app-store、ad-hoc、enterprise、或 development，根据你的用途选择 -->
    <key>method</key>
    <string>app-store</string>
    
    <key>signingCertificate</key>
    <string>iPhone Distribution: MARS PRIVACY INC (AH46QT2Y7A)</string>

    <!-- 使用手动签名 -->
    <key>signingStyle</key>
    <string>manual</string>

    <!-- 开发者团队 ID -->
    <key>teamID</key>
    <string>3D59AJD96Y</string>

    <!-- 通过 provisioningProfiles 指定每个 target（Bundle ID）对应的描述文件名称 -->
    <key>provisioningProfiles</key>
    <dict>
        <!-- 主应用的 Bundle Identifier -->
        <key>com.start.vpn</key>
        <string>dis_start3</string>
        <!-- 扩展 target 的 Bundle Identifier -->
        <key>com.start.vpn.packet</key>
        <string>dis_start_packet</string>
    </dict>

    <!-- 以下选项视情况而定 -->

    <!-- 是否编译 Bitcode（建议 App Store 设置为 false 节省打包时间） -->
    <key>compileBitcode</key>
    <false/>

    <!-- 是否上传 Bitcode（大部分情况下设置为 false） -->
    <key>uploadBitcode</key>
    <false/>

    <!-- 是否上传调试符号 -->
    <key>uploadSymbols</key>
    <true/>
</dict>
</plist>
